@import '../../styles/variables';
@import '../../styles/colours';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.deck-status-summary {
    // font-size: 12px;

    .valid {
        color: $success;
    }

    .used {
        color: $warning;
    }

    .conjurations {
        color: $info;
    }

    .invalid {
        color: rgb(228, 28, 28);
    }
}