.game-formats {
    margin-top: -15px;

}

.game-format {
    border-radius: 8px;
    color: white;
    margin-right: 8px;

    &.form-check {
        padding-left: 1.8rem;
        padding-top: 4px;
        padding-right: 8px;
        padding-bottom: 4px;
    }

    &.firstadventure {
        background-color: rgb(72, 162, 89);
    }

    &.aparty {
        background-color: rgb(0, 153, 255);
    }

    &.precon {
        background-color: rgb(169, 45, 45);
    }

    &.constructed {
        background-color: aliceblue;
        color: black;
    }

    &.coaloff {
        background-color: #333;
    }

    &.solo {
        background-color: #6a07a7;
    }

    &.hl2pvp {
        background-color: rgb(0, 153, 255);
    }

    &.onecollection {
        background-color: #6a07a7;
    }

}

.format-info-link {
    color: #4593b8;
    text-decoration: underline;
}

.img-game-format {
    width: 150px;

}

.format-item {
    width: 33%;
    display: inline-block;
}