.league-pairings {
    .pairing {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin: 2px;

        .player {
            margin-left: 5px;
            margin-right: 5px;
        }

        span {
            font-weight: bold;
        }

        svg {
            height: 24px;
            width: 24px;
        }

        .fa-check {
            color: green;
        }

        &.playable {
            line-height: 36px;

            svg {
                margin-top: 6px;
            }
        }

        button {
            margin-left: auto;
        }
    }
}