.newgame-buttons {
    margin-top: 20px;

    .btn {
        margin: 0 10px;
    }
}


select {
    width: unset !important;
}

.form-control,
.form-select,
.form-check-input {
    background-color: #fff;
    color: #000;
}

.form-control:focus,
.form-control:hover {
    background-color: #fff;
    color: #000;
}


.form-control::placeholder,
.form-select::placeholder {
    color: #aaa !important;
}

.replays {
    display: flex;
    flex-direction: column;
}