@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.message-list {
    height: 200px;
    width: 100%;
    border: 1px solid theme-color('primary');
    border-radius: 4px;
    margin-bottom: 5px;
    overflow: auto;
    padding: 5px 10px;
}

.game-status {
    margin: 10px 0;
    padding: 3px 5px;
    background-color: rgba(169, 169, 169, 0.304);

}

.spectator-list {
    margin-bottom: 15px;
}