@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.modal-title {
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}

.modal-header {
    text-align: center;
}

.modal-content {
    background-color: rgba(theme-color('dark'), 0.9);
}

.deck-list-header {
    margin-left: 15px;
}

.close {
    color: white;
}

.react-tabs__tab {
    background-color:#333;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
    background-color: white;
}