@font-face {
	font-family: 'phg-ashes';
	src: url('~assets/fonts/phg-ashes.woff2?2676953') format('woff2'),
		 url('~assets/fonts/phg-ashes.woff?2676953') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	  font-family: 'phg-ashes';
	  src: url('./assets/fonts/phg-ashes.svg?19544638#phg-ashes') format('svg');
	}
  }
  */
  
  [class^="phg-"]::before, [class*=" phg-"]::before {
	font-family: "phg-ashes";
	font-style: normal;
	font-weight: normal;
	speak: none;
  
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
  
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
  
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
  
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
  
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  
	// padding-right: .375em;
  }
  
  .phg-standalone::before,
  i[class^="phg-"]::before,
  i[class*=" phg-"]::before,
  button[class^="phg-"]::before,
  button[class*=" phg-"]::before {
	padding-right: 0;
  }
  
  .phg-basic-magic:before { content: '\e800'; } /* '' */
  .phg-ceremonial-class:before { content: '\e801'; } /* '' */
  .phg-ceremonial-power:before { content: '\e802'; } /* '' */
  .phg-charm-class:before { content: '\e803'; } /* '' */
  .phg-charm-power:before { content: '\e804'; } /* '' */
  .phg-discard:before { content: '\e805'; } /* '' */
  .phg-exhaust:before { content: '\e806'; } /* '' */
  .phg-illusion-class:before { content: '\e807'; } /* '' */
  .phg-illusion-power:before { content: '\e808'; } /* '' */
  .phg-main-action:before { content: '\e809'; } /* '' */
  .phg-natural-class:before { content: '\e80a'; } /* '' */
  .phg-natural-power:before { content: '\e80b'; } /* '' */
  .phg-side-action:before { content: '\e80c'; } /* '' */
  .phg-divine-power:before { content: '\e80f'; } /* '' */
  .phg-divine-class:before { content: '\e810'; } /* '' */
  .phg-time-power:before { content: '\e811'; } /* '' */
  .phg-time-class:before { content: '\e812'; } /* '' */
  .phg-time-power-alt:before { content: '\e813'; } /* '' */
  .phg-basic-magic-alt:before { content: '\e814'; } /* '' */
  .phg-sympathy-class:before { content: '\e81e'; } /* '' */
  .phg-sympathy-power:before { content: '\e81f'; } /* '' */
  