@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.counters {
    color: white;
    position: absolute;
    // top: 30px;
    // bottom: 0;
    // left: 0;
    // right: 0;
    justify-content: center;
    display: flex;
    gap: 1px;
    width: 100%;
    flex-wrap: wrap;
    z-index: $layer-cards + 1;
}


.game-card:not(.x-large, .large).vertical .counters {
    // flex-direction: column;

    &.many-counters {
        flex-direction: row;
        // justify-content: left;

        .counter:not(:first-child) {
            margin-left: -15%;
        }
    }
}

.game-card.large.vertical .counters {
    // flex-direction: column;

    &.many-counters {
        flex-direction: row;
        // justify-content: left;

        .counter:not(:first-child) {
            margin-left: -10%;
        }
    }
}

.game-card.horizontal .counters {
    flex-direction: row;

    &.many-counters {
        flex-direction: column;
    }
}

.game-card {
    &.normal {
        .counter {
            width: 20px;
            height: 20px;
            line-height: 21px;
            font-size: 8px;
        }
    }

    &.x-large {
        .counter {
            width: 35px;
            height: 35px;
            line-height: 36px;
            font-size: 14px;
        }
    }
}


.counter {
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    text-shadow: -0.5px -0.5px 2px #000, 0.5px -0.5px 2px #000, -0.5px 0.5px 2px #000,
        0.5px 0.5px 2px #000;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.fade-out {
        opacity: 0.7;
    }

    &.cancel {
        position: relative;

        &:after {
            border-bottom: 0.17em solid $danger;
            content: '';
            left: 0;
            margin-top: calc(0.17em / 2 * -1);
            position: absolute;
            right: 0;
            top: 50%;
        }
    }


    &.damage {
        background-image: url('~assets/img/damage.png');
    }

    &.armor {
        background-image: url('~assets/img/armor.png');
    }

    &.guarded {
        background-image: url('~assets/img/guarded.png');
    }

    &.exhaustion {
        background-image: url('~assets/img/exhaustion.png');
    }

    &.gravityFlux {
        background-image: url('~assets/img/gravity-flux.png');
    }

    &.duplicate {
        background-image: url('~assets/img/duplicate.png');
    }

    &.status {
        background-image: url('~assets/img/status.png');
    }

    &.redRains {
        background-image: url('~assets/img/redrains.png');
    }

    &.preventAllDamage {
        background-image: url('~assets/img/armor-plus.png');
    }

    &.terrifying {
        background-image: url('~assets/img/terrifying.png');
    }

    &.overkill {
        background-image: url('~assets/img/overkill.png');
    }

    // &.bypass {
    //     background-image: url('~assets/img/hypnotize.png');
    // }

    &.quickStrike {
        background-image: url('~assets/img/lightning.png');
    }

    &.grouptactics {
        background-image: url('~assets/img/grouptactics.png');
    }

    &.cannotBeAttackTarget {
        background-image: url('~assets/img/cannotBeAttackTarget.png');
    }

    &.cannotBeSpellTarget {
        background-image: url('~assets/img/cannotBeSpellTarget.png');
    }

    &.cannotattack {
        background-image: url('~assets/img/cannotAttack.png');
    }

    &.cannotblock {
        background-image: url('~assets/img/cannotBlock.png');

    }

    &.cannotguard {
        background-image: url('~assets/img/guarded.png');

    }

    &.preventBlock {
        background-image: url('~assets/img/cannotBeBlocked.png');

    }

    &.preventGuard {
        background-image: url('~assets/img/cannotBeGuarded4.png');

    }

    &.exhausted {
        background-image: url('~assets/img/exhausted.png');
        background-color: unset;
    }

    &.magnify {
        background-image: url('~assets/img/tristan.png');

    }
}

.behaviour {
    background-image: url('~assets/img/behaviour.png');
    width: 50px;
    height: 50px;
    color: black;
    line-height: 30px;
    font-size: 30px;
    padding-top: 10px
}