@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@mixin dice-colors($text, $background){
    color: $text;
    background: $background;
    border-color: $text;
}
.exhausted {
    background: #DDDDDD;
    color: #666;
}

.ceremonial {
    @include dice-colors(#ee3342, #111821);
}

.charm {
    @include dice-colors(#f7e442, #f34f98);
}

.illusion {
    @include dice-colors(#8bc7ea, #490d67);
}

.natural {
    @include dice-colors(#cedb00, #004a98);
}

.divine {
    @include dice-colors(#b58a2b, #f2f2f2);
}

.sympathy {
    @include dice-colors(#e3c2af, #119981);
}

.time {
    @include dice-colors(#dfdfdf, #9a2e36);
}

.any {
    @include dice-colors(#111, #fff);
    border: 1px solid #fff;
}


.die{
    border-radius: 3px;
    margin: 5px;
    height: 24px;
    width: 24px;
    text-align: center;
    display:inline-block;
    z-index: $layer-cards + 1;
}

.prompt-die{
    border-radius: 3px;
    margin: 5px;
    height: 24px;
    width: 24px;
    text-align: center;
    display:inline-block;
    z-index: $layer-cards + 1;
    line-height: 1.5;
}

.chat-die{
    border-radius: 3px;
    text-align: center;
    display:inline-block;
    padding:2px;
    width: 17px;
}


.small .die {

    // line-height: 2rem;
    border-radius:3px;
    height: 18px;
    width: 18px;
    margin: 3px;
}

.large .die {
    font-size: 1.3rem;
    line-height: 2rem;
    border-radius: 5px;
    height: 36px;
    width: 36px;
    margin: 5px;
}


.x-large .die{
    font-size: 1.6rem;
    line-height: 3rem;
    border-radius: 5px;
    height: 48px;
    width: 48px;
    margin: 5px;
}

.card-wrapper .die{
    // position: absolute;
}

.die{
    &.can-play {
        animation: glowing 2000ms infinite;

        &.controlled {
            box-shadow: $controlledBox,
                0 0 10px 1px fadeout(lighten(theme-color('primary'), 60%), 10%);
        }
    }

    &.in-danger {
        box-shadow: 0 0 1px 2px red;
    }

    &.saved {
        box-shadow: 0 0 1px 2px green;
    }

    &.selected {
        box-shadow: 0 0 1px 4px theme-color('selected');

        &.controlled {
            box-shadow: $controlledBox, 0 0 1px 4px theme-color('selected');
        }
    }

    
    &.selectable {
        box-shadow: 0 0 10px 1px fade-out(lighten(theme-color('primary'), 60%), 0.1);

        &.controlled {
            box-shadow: $controlledBox,
                0 0 10px 1px fade-out(lighten(theme-color('primary'), 60%), 0.1);
        }
    }

    &.unselectable {
        filter: grayscale(100%) brightness(60%);
    }

}