@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;

    .messages {
        padding: 5px;
    }
}

.gamechat {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-footer {
    background-color: black; //theme-color('primary');
    text-align: end;
    padding-right: 5px;
}

.chat-form {
    background-color: black; //theme-color('primary');

}