@use "sass:math";
@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.player-home-row-container {
    display: flex;
    width: 100%;

    &.active-player {
        // background-color: $active-player-color;
    }
}

.spellboard {
    min-width: 500px;
}

.behaviour-box {
    min-width: 100px;
    margin-top: 20px;
}