@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.time-limit-clock {
    margin-top: -6px !important;
    padding-top: 4px;
    // color: theme-color('secondary');
    // font-family: 'Orbitron', sans-serif;
    font-weight: 500;

    .clock {
        font-size: 2rem;
        // width: 117px;
        margin-left: auto;
        margin-right: auto;
    }
}