@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.splash {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: $layer-top;
    min-width: 500px;
    background-color: rgb(0, 0, 0, 0.9) !important;

    img {
        width: 210px;
        height: 294px;
    }

    .card-body {
        display: flex;
    }

    .splash-loser {
        width: 105px;
        height: 147px;
    }

    .central {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        min-width: 250px;

        h2 {
            color: #ddd;
            text-align: center;
        }
    }

    .buttonDiv {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .splash-stats-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .stat {
            font-size: 20px;
            align-self: center;
            line-height: 20px;
            margin-top: 5px;

            &.header {
                display: flex;

                .decklist-entry-image {
                    height: 40px;
                }
            }
        }

        .cards-icon {
            width: 24px;
            height: 24px;
        }

        .stat-icon {
            margin: auto 40px;
            width: 24px;
            height: 24px;
        }

        .stat-vs {
            margin: auto 10px;
            width: 24px;
            height: 24px;
        }

        .blood-stat-icon {
            margin: auto 42px;
            width: 20px;
            height: 20px;
        }
    }
}