@import '../../styles/variables';
@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.splash {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: $layer-top;
    min-width: 500px;
    background-color: rgb(0, 0, 0, 0.9) !important;

    img {
        width: 210px;
    }

    .card-body {
        display: flex;
    }

    .splash-loser {
        width: 105px;
        height: 147px;
    }

    .central {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        min-width: 250px;

        h2 {
            color: #ddd;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .buttonDiv {
        width: 130px;
        margin: 8px auto;
    }
}