@import '../styles/variables';

.card-browser {
    .card-gallery {
        .img-card {
            height: $keyteki-card-xl-height;
            width: $keyteki-card-xl-width;

            border-radius: 4px;
        }
    }
}

.cards-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    input {
        width: unset;
    }

    .mini {
        &.active {
            background-color: #2a55b7 !important;
            border-color: #2a55b7 !important;
        }
    }
}