.react-tabs__tab-list {
    font-variant: small-caps;

}

.page-item:not(.active, .disabled) .page-link {
    color: #fff !important;
    background: #333 !important;
}

.page-item.disabled .page-link {
    background-color: #666;
}

.pagination-wrapper {
    margin-top: 6px;
}