@import '../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.faq-entry {
    margin-left: 20px;
    margin-bottom: 20px;
}

.faq-icon-list {
    list-style-type: none;
    columns: 2;

    .counter {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}