@import '../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.flex-container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.learn-video {
    width: 50%;
}