@import '../../styles/colours';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.card {
    box-shadow: 1px 1px 1px theme-color('primary') !important;

    .card-header {
        font-weight: normal;
        background-size: cover;
        color: theme-color('light');
    }

    &.border-primary {
        .card-header {
            background-image: url('~assets/img/panel-primary.png');
            border-color: theme-color('primary');
        }
    }

    &.border-border {
        box-shadow: 1px 1px 1px theme-color('border') !important;

    }
}